


.nav-link {
  color: black;
}

.container-fluid {
  border: black 2px solid;
  background-color: bisque;
  
}




.footer {
  
  text-align: center;
  background-color: aqua;
  height: 40px;
  margin-top: 5px;
  padding-top: 5px;
}  









